html,
body {
  margin: 0;
  font-family: "Mansalva", cursive;
}

svg {
  transition: all 0.5s ease;
}

/* img {
  border: 1px solid black;
} */

.page {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 5px solid black;
}

.status {
  text-align: center;
  font-size: 3rem;
  height: 8rem;
}

.start-button {
  margin-bottom: 3rem;
  width: 10rem;
  height: 4rem;
  border: 3px solid black;
  box-shadow: 6px 5px;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  transition: background-color 0.1s;
}

.gato {
  margin-top: 5rem;
  width: 20rem;
  height: 22rem;
  position: relative;
}

.gato > img {
  position: absolute;
  width: 100%; /* fixes for firefox and IE */
}

.center {
  margin: auto;
}

.shells {
  width: 25rem;
  display: block;
  position: relative;
}

.shells > img {
  position: absolute;
  width: 100%;
}

.shell {
  list-style: none;
  width: 10rem;
  height: 8rem;
}

.start-button:hover {
  background-color: #ffeb3b;
}

button:disabled {
  color: grey;
  border-color: grey;
  pointer-events: none;
  cursor: not-allowed;
}

.start-button:focus {
  outline: none;
}

.start-button:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.sprite {
  transform-origin: top left;
}

.footer {
  text-align: center;
}

@media all and (min-width: 900px) {
  .page {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .status {
    width: 20vw;
    height: 70vh;
  }

  .sidebar {
    padding: 3rem; /* TODO: figure out why we need this to make sidebar take the whole screen */
  }

  .main {
    width: 80vw;
  }
}
