html,
body {
  margin: 0;
  font-family: "Mansalva", cursive;
  overflow: hidden;
}

svg {
  transition: all 0.5s ease;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #64ffda;
  width: 100vw;
  padding: 3rem 0;
}

.status {
  height: 10rem;
  font-size: 2.8rem;
  padding: 0 2rem;
}

.start-button {
  min-width: 10rem;
  height: 4rem;
  padding: 0 2rem;
  margin-bottom: 3rem;
  border: 3px solid black;
  box-shadow: 6px 5px;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  transition: background-color 0.1s;
}

.start-button:hover {
  background-color: #fbc02d;
}

.start-button:focus {
  outline: none;
}

.start-button:hover {
  cursor: pointer;
}

button:disabled {
  color: grey;
  border-color: grey;
  pointer-events: none;
  cursor: not-allowed;
}

.gato {
  margin-left: 6rem;
  margin-top: 2rem;
  width: 20rem;
  height: 20rem;
  position: relative;
}

.gato > img,
.shells > img {
  position: absolute;
  width: 100%; /* fixes for firefox and IE */
}

.shells {
  width: 25rem;
  margin-left: 3rem;
  margin-top: -6rem;
  display: block;
  position: relative;
}

.shell {
  list-style: none;
  width: 10rem;
  height: 8rem;
}

.hide {
  display: none;
}

.sprite {
  transform-origin: top left;
}

/* Show different layout on large viewports */
@media all and (min-width: 1000px) {
  .page {
    display: flex;
    flex-direction: row;
  }

  .sidebar,
  .main {
    padding: 3rem 0 0 0;
  }

  .sidebar {
    width: 25vw;
    height: 100vh;
  }

  .main {
    width: 70vw;
  }

  .status {
    text-align: center;
    height: 26rem;
  }
}
