html,
body {
  margin: 0;
}

h1 {
  color: red;
  text-align: center;
}

.status {
  height: 6rem;
  text-align: center;
  font-size: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
}

.gato {
  width: 30rem;
  height: 33rem;
  position: relative;
}

.center {
  margin: auto;
}

.gato > img {
  position: absolute;
}

.shells {
  display: block;
  position: relative;
  width: 30rem;
  height: 10rem;
}

.shells > img {
  position: absolute;
  width: 5rem;
  height: 5rem;
}

.shell {
  list-style: none;
}

.button-group {
  display: flex;
  height: 6rem;
  justify-content: center;
}

.start-button {
  z-index: 100;
  font-size: 2rem;
  font-weight: bold;
}

.hide {
  visibility: hidden;
}

.sprite {
  transform-origin: top left;
}
